<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <%= form_for @expense, remote: true do |f| %>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Expense</h4>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <%= f.label :Type %>
                    <%= f.select(:type_transaction, ['Purchase', 'Withdrawal', 'Transfer', 'Payment'], {:include_blank => false}, {:class => 'form-control'})%>
                  </div>
                  <div class="form-group col-md-6 validateDate">
                    <%= f.label :Date, class: "labelDate" %>
                    <%= f.date_field :date, class: "form-control" %>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group validateConcept">
              <%= f.label :Concept, class: "labelConcept" %>
              <%= f.text_field :concept, class: "form-control", class: "form-control"%>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <%= f.label :Category %>
                    <%= f.collection_select(:category_id, Category.all, :id, :name, {:include_blank => false}, {:class => 'form-control'})%>
                  </div>
                  <div class="form-group col-md-6">
                    <%= f.label :Amount %>
                    <% if @expense.new_record? %>
                      <%= f.number_field :amount, step: 0.01, min: 0, class: "form-control text-right", value: 0%>
                    <% else %>
                      <%= f.number_field :amount, step: 0.01, min: 0, class: "form-control text-right"%>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit @expense.new_record? ? "Create Expense" : "Update Expense", class: "btn btn-primary"%>
        </div>
      </div>
    </div>
  <% end %>
</div>

